.note-editing-area {
    background-color: white;
}

.softsource-image-wrapper {
    position: relative;
    display: inline-block;
}

.softsource-image-wrapper img {
    height: 250px !important;
}

.softsource-close-button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.softsource-close-button i {
    color: #f00;
    font-size: 30px;
}

.softsource-close-button:hover i {
    color: #fff;
}

.softsource-image-wrapper:hover .softsource-close-button {
    bottom: 150px;
    opacity: 1;
}
