@media only screen and (max-width: 3000px) {
    .softsource-home-text-over-video-div {
        transform: translate(-45%, -50%) !important;
        left: 72% !important;
    }

    .softsource-home-top-scroll {
        bottom: 100px;
    }
}

@media only screen and (max-width: 2560px) {
    .softsource-home-text-over-video-div {
        transform: translate(-35%, -50%) !important;
        left: 67% !important;
    }

    .softsource-home-top-scroll {
        bottom: 100px;
    }
}

@media only screen and (max-width: 2155px) {
    .softsource-home-text-over-video-div {
        transform: translate(-35%, -50%) !important;
        left: 67% !important;
    }

    .softsource-home-top-scroll {
        bottom: 100px;
    }
    .softsource-firstline-header {
        font-size: 85px;
    }
}

@media only screen and (max-width: 1920px) {
    .softsource-firstline-header {
        font-size: 75px;
    }

    .softsource-home-top-scroll {
        bottom: 150px;
    }

    .softsource-home-text-over-video-div {
        transform: translate(-28%, -50%) !important;
    }
}

@media only screen and (max-width: 1680px) {
    .softsource-firstline-header {
        font-size: 66px;
    }

    .softsource-home-top-scroll {
        bottom: 150px;
    }
}

@media only screen and (max-width: 1440px) {
    .softsource-firstline-header {
        font-size: 57px;
    }

    .softsource-home-top-scroll {
        bottom: 150px;
    }

    .softsource-home-text-over-video-div {
        transform: translate(-20%, -50%) !important;
    }
}

@media only screen and (max-width: 1440px) {
    .softsource-home-text-over-video-div {
        transform: translate(-20%, -50%) !important;
        left: 65% !important;
    }
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1024px) {
    .softsource-header-logo .light-logo {
        max-width: 90px;
    }

    .softsource-cust-tag {
        font-size: 9px;
        margin-left: -28px;
        margin-bottom: 0.3rem;
    }

    .softsource-nav-menus > li.nav-item {
        padding-left: 12px;
        padding-right: 12px;
    }

    .softsource-nav-menus .nav-link {
        font-size: 13px;
    }

    .softsource-home-btn-login {
        font-size: 13px;
    }
    .softsource-home-btn-register {
        font-size: 12px;
    }

    .softsource-home-text-over-video-div {
        transform: translate(-10%, -50%) !important;
        left: 54% !important;
    }

    .softsource-home-top-scroll {
        left: -100px;
    }

    .softsource-home-heroo-video-div video {
        height: 700px !important;
    }

    .softsource-home-daily-prompt-header{
        font-size: 40px;
    }
}

@media (min-width: 992px) {
    .cust-col [class*="col-lg"] {
        width: 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .softsource-index-section6 .form-sec {
        max-width: 60%;
        margin: auto;
    }
}

@media only screen and (max-width: 479px) {
    .softsource-faq-accordion-wrapper .card-header h5 button span {
        right: 15px;
    }

    .softsource-faq-accordion-wrapper .card-header h5 button {
        padding-left: 15px;
        padding-right: 20px;
    }
}
